// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import "../../node_modules/bootstrap-select/sass/bootstrap-select.scss";
@import "../../node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dl-horizontal dt {
  width: 250px;
  margin-right: 1em;
}

// Code for the NavBar
.navbar-default {
  background-color: #002e7a !important;
  border-color: #000464 !important;
}

.navbar-default .navbar-brand {
  color: #ecf0f1 !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff !important;
}

.navbar-default .navbar-text {
  color: #ecf0f1 !important;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff !important;
  background-color: #000464 !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff !important;
  background-color: #000464 !important;
}

.navbar-default .navbar-toggle {
  border-color: #000464 !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000464 !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1 !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1 !important;
}

.navbar-default .navbar-link {
  color: #ecf0f1 !important;
}

.navbar-default .navbar-link:hover {
  color: #ffffff !important;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1 !important;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff !important;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff !important;
    background-color: #000464 !important;
  }
}